.header-white {
    margin-bottom: 34px;
    &__top-line {
        color: $colorText;
    }
    &__phone,
    &__language-list {
        color: $colorText;
        .active-lenguage-white {
            background-color: $colorRed;
        }
    }
    &__language-list:hover {
        background: $colorBg;
    }
    &__language-list.active-lenguage-white {
        background: $colorRed;
    }
}
@media (min-width: 768px) {
    .header-white {
        &__top-line {
            margin: 0 -15px 17px;
        }
    }
}
@media (min-width: 1024px) {
    .header-white {
        margin-bottom: 32px;
        &__top-line {
            margin: 0 -15px;
        }
    }
}
