.team-page {
    padding: 0 30px;
    &__wrap {
        margin-top: 30px;
    }
    &__wrap:last-child {
        padding-bottom: 60px;
    }
    &__img {
        height: 300px;
        width: 100%;
        border-radius: 12px;
        object-fit: cover;
    }
    &__description {
        margin-top: 11px;
        display: grid;
        grid-template-columns: 1fr 48px;
    }
    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $colorDarkBlue;
    }
    &__position {
        padding-top: 4px;
        font-size: 14px;
        line-height: 22px;
        color: $colorText;
    }
    &__btn {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        background: $colorBg;
        justify-self: end;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        &-rotate {
            transform: rotate(-90deg);
            z-index: -1;
        }
        &:hover .team-page__path {
            stroke: $colorRed;
        }
    }
}
@media (min-width: 400px) {
    .team-page {
        padding: 0 30px;
        &__img {
            height: 350px;
        }
    }
}
@media (min-width: 460px) {
    .team-page {
        padding: 0 45px;
        &__img {
            height: 400px;
        }
    }
}
@media (min-width: 540px) {
    .team-page {
        padding: 0 60px;
        &__img {
            height: 250px;
        }
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
        }
        &__btn {
            &-rotate {
                    transform: rotate(360deg);
            }
        }
    }
}
@media (min-width: 640px) {
    .team-page {
        padding: 0 60px;
        &__img {
            height: 300px;
        }
    }
}
@media (min-width: 768px) {
    .team-page {
        padding: 0 60px;
        &__img {
            height: 400px;
        }
        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 30px;
            column-gap: 60px;
            margin-top: 30px;
        }
        h1 {
            display: inline-block;
            vertical-align: top;
            margin-top: 28px;
        }
    }
}
@media (min-width: 1024px) {
    .team-page {
        padding: 0 60px 23px;
        &__img {
            height: 400px;
            max-width: 400px;
        }
        &__container {
            grid-template-columns: 1fr 1fr 1fr;
        }
        h1 {
            margin-top: 28px;
        }
    }
}
@media (min-width: 1440px) {
    .team-page {
        padding: 0 15px;
    }
}