.title {
    background: $colorTitleGradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
}
@media (min-width: 768px) {
    .title {
        font-size: 38px;
        line-height: 46px;
        &-second {
            padding-top: 2px;
        }
        &--popup {
            font-size: 30px;
            line-height: 37px;
        }
    }
}
@media (min-width: 1024px) {
    .title {
        &--team {
            padding: 0 120px;
        }
        &-second {
            padding-top: 61px;
        }
    }
}