$colorRed: #F0145A;
$colorRedOpacity:rgba(240, 20, 90, 0.5);
$colorLightRed:#EF8080;
$colorViolet: #643E72;
$colorGrey: #686887;
$colorDarkBlue: #323264;
$colorDarkPurple: #46466E;
$colorBlue: #24A3FF;
$colorBlueActive: #006CCF;
$colorBlueHover: #0085FF;
$colorBg: #F5F5FA;
$colorBgAlt: #EDEDF7;
$colorText: #B3B3BA;
$colorSeparator: #E6E6F0;
$colorShadowDark:#CACADB;
$colorShadowLight:#E7E7F2;
$colorWhite: #FFFFFF;
$colorWhiteOpacity: rgba(255, 255, 255, 0.8);
$colorBlack: #000000;
$colorGrey02: rgba(245, 245, 250, 0.2);
$colorGrey03:rgba(255, 255, 255, 0.3);
$colorDarkBlueOpacity: rgba(40, 40, 86, 0.8);
$colorDarkBlueOpacity05: rgba(40, 40, 86, 0.5);
$colorOpacityWhite: rgba(255, 255, 255, 0.2);
$colorLogo1: #1C4280;
$colorLogo2: #143646;
$colorLogo3: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
$colorLogo4: #9E4DC3;
$colorLogo5: #FD9339;
$colorLogo6: #E2E2E4;
$colorLogo7: #C71C36;
$colorLogo8: #DCF3F9;
$colorLogo9: #EAEAEA;
$colorLogo10: #282240;
$colorLogo11: #1D4568;
$colorLogo12: #000000;
$colorButtonShadowPop: rgba(36, 163, 255, 0.5);
$colorBgGradient: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$colorTitleGradient: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$colorBgAbout: #c0c0c9;
$colorSendHover: #0085FF;
$colorSendActive: #006CCF;
